<div class="three columns">

<div class="sidebarbg">
	<h4>Pages</h4>
	<ul>
	  {% for title, link in MENUITEMS %}
		  <li><a href="{{ link }}">{{ title }}</a></li>
	  {% endfor %}
	  {% if DISPLAY_PAGES_ON_MENU %}
		{% for p in PAGES %}
		  <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
		{% endfor %}
	  {% else %}
		{% if DISPLAY_CATEGORIES_ON_MENU %}
		  {% for cat, null in categories %}
			<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
		  {% endfor %}
		{% endif %}
	  {% endif %}
	</ul>
</div>

{% if categories %}
<div class="sidebarbg">
<h4>Categories</h4>
	<ul>
		{% for cat, null in categories %}
			<li><a href="{{ SITEURL }}/{{ cat.url|e }}">{{ cat }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}

{% if tags %}
<div class="sidebarbg">
	<h4>Tags</h4>
		<ul>
		{% for tag in tag_cloud %}
			<li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0|e }}</a></li>
		{% endfor %}
		</ul>
</div>
{% endif %}


{% if SOCIAL %}
<div class="social sidebarbg">
	<nav class="widget">
	  <h4>Social</h4>
	  <ul>
	  {% for name, url in SOCIAL %}
		<li><a target="_blank" href="{{ url|e }}">{{ name }}</a></li>
	  {% endfor %}
	  </ul>
	</nav>
</div>
{% endif %}

{% if LINKS %}
<nav class="widget sidebarbg">
  <h4>Links</h4>
  <ul>
  {% for name, url in LINKS %}
	<li><a target="_blank" href="{{ url|e }}">{{ name }}</a></li>
  {% endfor %}
  </ul>
</nav>
{% endif %}

</div>
